<ion-content [fullscreen]="true">
  <ion-header >
    <ion-toolbar>
      <a slot="start"><img src="../../assets/duoc_logo.png" alt="logo" class="logo"></a>
      <ion-title slot="start" style="font-weight: bolder;">RegistrAPP</ion-title>
    </ion-toolbar>
  </ion-header>
  
  
      <ion-card class="card">
        <ion-card-header>
          <h2 style="color: white">Recuperar Contraseña</h2>
        </ion-card-header>
        <ion-card-content>
          <ion-item >
            <ion-label position="floating">Correo Electrónico</ion-label>
            <ion-input type="email" [(ngModel)]="email"></ion-input>
          </ion-item>
          <br>
          <ion-button (click)="mostrarAlerta()">Recuperar</ion-button>
        </ion-card-content>
      </ion-card>
  </ion-content>