<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        <div class="contenedor-header">
        <div><ion-img class="imagen-encabezado" src="../../assets/duoc_logo.png"></ion-img></div>
        <div> <br><ion-button color="danger" style="margin-left: 20px;" size="large" (click)="cerrarsesion()"><ion-icon name="exit-outline"></ion-icon></ion-button></div></div>
   
  
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  
    <ion-card class="card">
    <br>
    <h1 style="font-weight: bold;">Bienvenido profesor/a </h1>
    <br>
    <ion-img class="imagen-perfil" src="../../assets/profile.png"></ion-img>
    <br>
    <h1>Bienvenido: {{ username }}</h1>
    <br>
    <br>
      <div><p>REGISTRAR ASISTENCIA</p></div>
      <div><ion-icon name="chevron-down-outline"></ion-icon></div>
    <div><ion-button type="submit" color="warning" (click)="redirectToMostrarQR()">
         GENERAR QR
      <ion-icon name="qr-code-outline" slot="start"></ion-icon>   
    </ion-button>
  </div>
    <br><br>
    </ion-card>
  </ion-content> 
  