<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <a slot="start"><img src="../../assets/duoc_logo.png" alt="logo" class="logo"></a>
      <ion-title slot="start" style="font-weight: bolder;">RegistrAPP</ion-title>
    </ion-toolbar>
  </ion-header>
  <br>
  <ion-img class="saludo" src="../../assets/saludo.png"></ion-img>
  <br>
      <ion-card class="card">
        <ion-card-header>
          <h2 style="color: white;">Ingreso de Usuario</h2>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input [(ngModel)]="user.username" name="username" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input [(ngModel)]="user.email" name="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input [(ngModel)]="user.password" name="password" type="password"></ion-input>
        </ion-item>
        <ion-button type="button" expand="full"  (click)="login()">Iniciar Sesión</ion-button>
        <ion-button type="submit" expand="full"  [routerLink]="['/recuperar']">Olvidaste tu contraseña?</ion-button>
        <ion-item>
          <ion-label>Recordar</ion-label>
          <ion-checkbox [(ngModel)]="rememberMe"></ion-checkbox>
        </ion-item>
      </ion-card-content>
    </ion-card> 

</ion-content>