<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <a slot="start"><img src="../../assets/duoc_logo.png" alt="logo" class="logo"></a>
      <ion-title slot="start" style="font-weight: bolder;">RegistrAPP</ion-title>
    </ion-toolbar>
  </ion-header>
  <br>
  <br>
      <ion-card class="card">
        <ion-card-header>
          <h2 style="color: white;">Ingreso de Usuario</h2>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
          <ion-input position="floating" [(ngModel)]="user.username" name="username" type="text">Nombre</ion-input>
        </ion-item>
        <ion-item>
          <ion-input position="floating"[(ngModel)]="user.email" name="email">Email</ion-input>
        </ion-item>
        <ion-item>
          <ion-input position="floating" [(ngModel)]="user.password" name="password" type="password">Contraseña</ion-input>
        </ion-item>
        <ion-button type="button" expand="full" (click)="login()">Iniciar Sesión</ion-button>
        <ion-button type="submit" expand="full" [routerLink]="['/recuperar']">Olvidaste tu contraseña?</ion-button>
        <ion-item>
          <ion-checkbox [(ngModel)]="rememberMe">Recordar</ion-checkbox>
        </ion-item>
      </ion-card-content>
    </ion-card> 

</ion-content>