#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

.imagen-encabezado {
  width: 300px;
}

.container-perfil { /* Ancho del contenedor */
  margin: auto; /* Margen automÃ¡tico a la izquierda y la derecha para centrar horizontalmente */
  text-align: center;
  
}

.imagen-perfil {
  width: 200px;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
}



#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.contenedor-header{
  display: flex;
  justify-content: space-between;
}